.ab1{
    padding: 90px 0 100px;
    .freeTx{
        width: 980px;
        margin: 40px auto 0;
        max-width: 100%;
    }
    @media screen and (max-width:601px) {
        padding: (90 / 600) * 100vw 0 (100 / 600) * 100vw;
        .freeTx{
            margin-top: (40 / 600) * 100vw;
        }
    }
}

.his-wrap{
    position: relative;
    padding: 0 0 40px 0;
    &:before{
        @include ba;
        top: 37px;
        bottom: 0;
        left: 50%;
        width: 1px;
        background: $fc2;
    }
    > .icon{
        margin-bottom: 40px;
        text-align: center;
        line-height: 1;
        font-size: 27px;
    }
    @media screen and (max-width:481px) {
        &:before, > .icon{
            display: none;
        }
    }
}

.his-main{
    .w{
        width: 860px;
        max-width: 90%;
        margin: 0 auto;
        padding: 30px 0;
    }
    .txts, .year{
        width: 50%;
        float: left;
    }
    .year{
        position: relative;
        padding-right: 40px;
        text-align: right;
        font-size: 30px;
        line-height: 1;
    }
    .txts{
        padding-left: 41px;
    }
    .dot{
        position: absolute;
        top: 50%;
        right: -9px;
        margin-top: -9px;
        width: 17px;
        height: 17px;
        background: $mc1;
        border: 4px solid $hc4;
        border-radius: 50%;
    }
    li{
        position: relative;
        &:before{
            @include hv($hc1, 100%);
        }
        &:nth-child(2n){
            .year{
                padding: 0 0 0 41px;
                float: right;
                text-align: left;
            }
            .dot{
                right: auto;
                left: -8px;
            }
            .txts{
                padding: 0 40px 0 0;
            }
        }
        @media screen and (min-width:1025px) {
            &:hover{
                &:before{ @include hvh; }
            }
        }
    }
    @media screen and (max-width:481px) {
        .dot{
            display: none;
        }
        .txts, .year{
            width: 100%;
            float: none;
        }
        .year{
            text-align: left;
            padding-right: 0;
            margin-bottom: 10px;
        }
        .txts{
            padding-left: 0;
        }
        li{
            &:nth-child(2n){
                .year{
                    float: none;
                    padding-left: 0;
                }
                .txts{
                    padding-right: 0;
                }
            }
            + li{
                .w{
                    border-top: 1px dashed $hc1;
                }
            }
            &:first-child{
                .w{
                    padding-top: 0;
                }
            }
        }
        .w{
            padding: 30px 0;
        }
    }
}

.ab2{
    padding-top: 90px;
    .news-ti{
        margin-bottom: 60px;
    }
    @media screen and (max-width:601px) {
        padding-top: (90 / 600) * 100vw;
        .news-ti{
            margin-bottom: (60 / 600) * 100vw;
        }
    }
}

.ab3{
    padding: 90px 0 100px;
    .news-ti{
        margin-bottom: 60px;
    }
    @media screen and (max-width:601px) {
        padding: (90 / 600) * 100vw 0 (100 / 600) * 100vw;
        .news-ti{
            margin-bottom: (60 / 600) * 100vw;
        }
    }
}

.honor-arrow{
    .slick-arrow{
        width: 60px;
        height: 60px;
        margin-top: -30px;
        line-height: 60px;
        border-radius: 50%;
        background: #fff;
        color: $fc3;
        @media screen and (min-width:1025px) {
            &:hover{
                background: $mc1;
                color: #fff;
            }
        }
    }
}

.honor-list{
    padding: 0 95px;
    .item{
        padding: 0 15px;
    }
    .picbox{
        border: 10px solid #fff;
        transition: .3s;
        cursor: pointer;
        @media screen and (min-width:1025px) {
            &:hover{
                border-color: $mc1;
            }
        }
    }
    .pai{
        display: block;
        padding-bottom: (285 / 202) * 100%;
    }
    .slick-dots{
        position: relative;
        margin-top: 50px;
    }
    .slick-arrow{
        margin-top: -60px;
    }
    @media screen and (max-width:1366px) {
        .item{
            padding: 0 10px;
        }
        .picbox{
            border-width: 8px;
        }
    }
    @media screen and (max-width:1024px) {
        padding: 0;
        margin-left: -30px;
        .slick-arrow{
            display: none !important; 
        }
        .item{
            padding: 0;
        }
        .picbox{
            margin-left: 30px;
        }
        .slick-dots{
            padding-left: 30px;
        }
    }
    @media screen and (max-width:861px) {
        margin-left: -20px;
        .picbox{
            margin-left: 20px;
            border-width: 5px;
        }
        .slick-dots{
            padding-left: 20px;
        }
    }
    @media screen and (max-width:601px) {
        .slick-dots{
            margin-top: (50 / 600) * 100vw;
        }
    }
}

.slick-dots{
    li{
        background: $mc1;
        &.slick-active{
            background: #fff !important;
        }
        @media screen and (min-width:1025px) {
            &:hover{
                background: #fff !important;
            }
        }
    }
    @media screen and (max-width:481px) {
        li{
            width: 6px;
            height: 6px;
        }
    }
}

.core-nav-item{
    .ico{
        width: 70px;
        height: 70px;
        margin: 0 auto 25px;
        max-width: 100%;
        @include bg;
        transition: .4s;
    }
    .ch{
        font-size: 20px;
    }
    .en{
        margin-top: 5px;
        color: $hc4;
        font-size: 16px;
    }
    .sj{
        display: block;
        margin: 25px auto 0;
        border-left-width: 7px;
        border-right-width: 7px;
        border-top-width: 11px;
        color: $mc1;
        transform: translateY(-10px);
        @include hide;
        transition: .3s;
    }
    &.act{
        .sj{
            transform: none;
            @include show;
        }
    }
    @media screen and (min-width:1025px) {
        &:hover{
            .ico{
                transform: rotateY(180deg);
            }
        }
    }
    @media screen and (max-width:1024px) {
        display: none;
    }
}

.core-nav-list{
    li{
        width: 25%;
        padding: 0 2%;
    }
}

.core-content-list{
    padding: 100px 0;
    .pic{
        float: left;
        width: 49%;
        margin-right: 6%;
    }
    .core-nav-item{
        display: none;
    }
    li{
        display: none;
    }
    @media screen and (max-width:1024px) {
        padding-top: 0;
        li{
            display: block;
            + li{
                margin-top: 40px;
            }
        }
        .core-nav-item{
            display: flex;
            align-items: center;
            margin-bottom: 20px;
            .ico{
                width: 70px;
                margin: 0 20px 0 0;
            }
            .b{
                flex: 1;
            }
        }
    }
    @media screen and (max-width:641px) {
        .pic{
            width: 100%;
            float: none;
            margin: 0 0 20px 0;
        }
    }
    @media screen and (max-width:601px) {
        padding-bottom: (100 / 600) * 100vw;
    }
    @media screen and (max-width:481px) {
        .core-nav-item{
            .ico{
                margin-right: 0;
                transform-origin: left center;
                transform: scale(.7);
            }
            .ch{
                font-size: 16px;
            }
            .en{
                font-size: 14px;
            }
            .b{
                margin-left: -10px;
            }
        }
    }
}

.ab4{
    padding-top: 90px;
    .news-ti{
        margin-bottom: 60px;
    }
    .core-content-list{
        margin-top: 60px;
    }
    @media screen and (max-width:1024px) {
        background: $hc3;
        .news-ti{
            margin-bottom: 0;
        }
    }
    @media screen and (max-width:601px) {
        padding-top: (90 / 600) * 100vw;
        .core-content-list{
            margin-top: (60 / 600) * 100vw;
        }
    }
}