@charset "utf-8";
//主颜色
$mc1: #282828;
$mc2: #0A9EBC;
//字体颜色
$fc1: #333;
$fc2: #666;
$fc2-5: rgba(102, 102, 102, .5);
$fc3: #999;
// 灰色背景值
$hc1: #ccc; //bodr
$hc2: #e5e5e5; // 90
$hc3: #f1f1f1; // 95
$hc4: #C4C4C4; // 77
