.footer{
    background: $mc1;
    padding: 35px 0 55px;
    color: #fff;
    a{
        color: #fff;
        @media screen and (min-width:1025px) {
            &:not(.na):hover{
                color: $fc3;
                .icon{
                    border-color: $fc3;
                }
            }
        }
    }
    .f-cta{
        padding-top: 50px - 35px;
        margin-bottom: 10px;
    }
    @media screen and (max-width:1024px) {
        padding-top: 50px;
        .pw{
            display: flex;
        }
        .f-cta{
            padding-top: 0;
        }
        .r{
            margin-left: 20px;
        }
        .l{
            flex: 1;
        }
    }
    @media screen and (max-width:641px) {
        .f-ma{
            display: none;
        }
    }
    @media screen and (max-width:481px) {
        padding-top: 40px;
        padding-bottom: 45px;
    }
}

.f-cta{
    p{
        float: left;
        margin-bottom: 10px;
        margin-right: 50px;
        line-height: 34px;
        font-size: 16px;
    }
    .icon{
        display: inline-block;
        vertical-align: bottom;
        margin-right: 10px;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        border: 1px solid #fff;
        line-height: 32px;
        text-align: center;
        transition: border 300ms;
    }
    .icondianhua{
        font-size: 14px;
    }
    .icondizhi{
        font-size: 18px;
    }
    @media screen and (max-width:641px) {
        p{
            margin-right: 30px;
            font-size: 14px;
            line-height: 24px;
        }
        .icon{
            width: 24px;
            height: 24px;
            font-size: 13px;
            line-height: 22px;
        }
        .icondianhua{
            font-size: 12px;
        }
        .icondizhi{
            font-size: 15px;
        }
    }
}

.f-ma{
    width: 89px;
    text-align: center;
    .pic{
        height: 89px;
        margin-bottom: 5px;
    }
}