.header{
    height: 74px;
    background: $mc1;
    line-height: 24px;
    color: #fff;
    a{
        color: #fff;
        &:hover{
            color: $hc1;
        }
    }
    .pw{
        position: relative;
        z-index: 9;
    }
    .nav{
        > li{
            padding: 0 20px;
            > a{
                display: block;
                position: relative;
                padding: (74px - 24px) / 2 8px;
                font-size: 16px;
                &.act{
                    color: $hc1;
                }
                &:before{
                    @include hl(#fff, 3px);
                    top: 0;
                    bottom: auto;
                }
                &:hover{
                    &:before{
                        @include hlw;
                    }
                }
                &:after{
                    @include ba;
                    left: 50%;
                    bottom: 0;
                    margin-left: -5px;
                    width: 0;
                    height: 0;
                    border-left: 5px solid transparent;
                    border-right: 5px solid transparent;
                    border-bottom: 6px solid;
                    color: #fff;
                    transform: translateY(-10px);
                    @include hide;
                    transition: 400ms;
                }
            }
            &.show{
                a:after{
                    transform: none;
                    @include show;
                }
            }
        }
    }
    .logo{
        width: 148px;
        position: absolute;
        left: 0;
        top: 19px;
    }
    .lang{
        position: absolute;
        top: 0;
        right: 0;
        width: 140px;
        height: 100%;
        padding-top: (74px - 24px) / 2;
        border-left: 1px solid $fc2;
        border-right: 1px solid $fc2;
        border-color: $fc2-5;
        text-align: center;
        .icon{
            margin-right: 10px;
            font-size: 22px;
        }
        span{
            display: inline-block;
            vertical-align: middle;
        }
    }
    @media screen and (max-width:1366px) {
        .nav > li{
            padding: 0 18px;
        }
        .lang{
            width: 120px;
        }
    }
    @media screen and (max-width:1024px) {
        height: 60px;
        .lang, .nav{ display: none; }
        .pw{
            height: 100%;
        }
        .logo{
            top: 50%;
            transform: translateY(-50%) scale(.8);
            transform-origin: left center;
        }
    }
}

.pull-nav{
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background: #fff;
    padding: 25px 0;
    display: none;
}

.pro-nav-list{
    li{
        width: 18.8%;
        margin: 0 1.9%;
        a:hover{
            color: $mc1;
        }
    }
    .nowti{
        margin-top: 5px;
        font-size: 16px;
    }
    .pic{
        border: 1px solid $hc2;
    }
}

.pull-nav{
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);
    a{
        color: $fc2;
    }
}

.mtop{
    height: 74px;
    @media screen and (max-width:1024px) {
        height: 60px;
    }
}