.loading-one{
    display: none;
    padding: 12% 5% 0;
    text-align: center;
    .loading-logo{
        img{
            width: 183px;
            vertical-align: bottom;
        }
    }
    .ch{
        font-size: 26px;
        margin-top: 80px;
    }
    .en{
        font-size: 25px;
        margin-top: 6px;
    }
    .line{
        display: block;
        width: 36px;
        height: 4px;
        background: $mc1;
        margin: 25px auto 0;
    }
    .ti{
        width: 430px;
        margin: 30px auto 0;
        max-width: 100%;
    }
    @media screen and (max-width:1600px) {
        padding-top: 9%;
    }
    @media screen and (max-width:1366px) {
        .loading-logo{
            img{
                width: 146px;
            }
        }
        .ch{
            margin-top: 50px;
            font-size: 22px;
        }
        .en{
            font-size: 20px;
        }
        .line{
            width: 26px;
            height: 3px;
            margin-top: 20px;
        }
        .ti{
            margin-top: 25px;
        }
    }
    @media screen and (max-width:1024px) {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-65%);
        padding-top: 0;
    }
    @media screen and (max-width:481px) {
        .ch{
            font-size: 18px;
        }
        .en{
            font-size: 16px;
        }
        .ti{
            margin-top: 15px;
            font-size: 12px;
        }
        .line{
            height: 1px;
            margin-top: 15px;
        }
    }
}

.loading-two{
    display: none;
    padding: 7% 5% 0;
    text-align: center;
    @media screen and (max-width:1600px) {
        padding-top: 5%;
    }
    @media screen and (max-width:1024px) {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-65%);
        padding-top: 0;
    }
}

.loading-ti{
    > .en, > .ch{
        font-size: 22px;
        color: $mc1;
    }
    @media screen and (max-width:481px) {
        > .en, > .ch{
            font-size: 18px;
        }
    }
}

.loading-three{
    display: none;
    padding: 7.8% 5% 0;
    text-align: center;
    .loading-lang{
        margin-top: 90px;
    }
    @media screen and (max-width:1600px) {
        padding-top: 7%;
        .loading-lang{
            margin-top: 70px;
        }
    }
    @media screen and (max-width:1366px) {
        .loading-lang{
            margin-top: 60px;
        }
    }
    @media screen and (max-width:1024px) {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-65%);
        padding-top: 0;
    }
    @media screen and (max-width:341px) {
        .loading-lang{
            margin-top: 50px;
        }
    }
}

.service-mode-wrap{
    position: relative;
    width: 152px;
    margin: 80px auto 0;
    .pic2{
        height: 342px;
    }
    .txts{
        position: absolute;
        white-space: nowrap;
        text-align: left;
        color: $fc3;
    }
    .txts-1{
        top: 0;
        left: 100%;
        margin-left: 70px;
    }
    .txts-2{
        right: 100%;
        bottom: 20px;
        margin-right: 70px;
    }
    .ti{
        font-size: 38px;
        line-height: 1;
        margin-bottom: 15px;
    }
    .ch, .en{
        font-size: 18px;
    }
    .ch{
        margin-top: 25px;
    }
    @media screen and (max-width:1600px) {
        margin-top: 60px;
    }
    @media screen and (max-width:1366px) {
        margin-top: 50px;
        width: 122px;
        .ti{
            font-size: 30px;
            margin-bottom: 10px;
        }
        .ch, .en{
            font-size: 14px;
        }
        .ch{
            margin-top: 20px;
        }
        .pic2{
            height: 274px;
        }
        .txts-1{
            margin-left: 40px;
        }
        .txts-2{
            margin-right: 40px;
        }
    }
    @media screen and (max-width:481px) {
        width: 82px;
        .pic2{
            height: 184px;
        }
        .txts-1{
            margin-left: 15px;
        }
        .txts-2{
            margin-right: 15px;
        }
        .ti{
            font-size: 18px;
            margin-bottom: 8px;
        }
        .ch, .en{
            font-size: 11px;
        }
        .ch{
            margin-top: 15px;
        }
        .txts-2{
            bottom: 10px
        }
    }
}

.loading-handle{
    position: absolute;
    left: 50%;
    margin-left: -270px;
    bottom: 35px + 67px + 60px;
    width: 540px;
    height: 14px;
    .dot{
        width: 14px;
        height: 100%;
        background: $fc3;
        border-radius: 50%;
        transition: .3s;
        &.act{
            background: $mc1;
        }
    }
    &.allow{
        .dot{
            cursor: pointer;
        }
    }
    .dot3, .dot1{
        position: absolute;
        top: 0;
    }
    .dot2{
        display: block;
        position: relative;
        margin: 0 auto;
    }
    .dot1{
        left: 0;
    }
    .dot3{
        right: 0;
    }
    .line, &:before{
        @include ba;
        left: 0;
        top: 50%;
        margin-top: -1px;
        width: 100%;
        height: 2px;
        background: $fc3;
    }
    .line{
        background: $mc1;
        width: 0;
    }
    @media screen and (max-width:1600px) {
        bottom: 142px;
    }
    @media screen and (max-width:1366px) {
        bottom: 102px;
        width: 432px;
        margin-left: -216px;
        height: 9px;
        .dot{
            width: 9px;
        }
        &:before{
            height: 1px;
        }
        .line{
            height: 1px;
        }
    }
    @media screen and (max-width:481px) {
        width: 75%;
        height: 7px;
        margin-left: 0;
        transform: translateX(-50%);
        bottom: 70px;
        .dot{
            width: 7px;
        }
    }
}

.loading-pro-list{
    width: 870px;
    margin: 80px auto 0;
    max-width: 100%;
    .pai{
        padding-bottom: (140 / 80) * 100%;
    }
    .picbox{
        width: 80px;
        margin: 0 auto 25px;
        max-width: 100%;
        transition: .3s;
    }
    li{
        width: 33.33%;
    }
    a{
        color: $fc3;
        font-size: 15px;
        @media screen and (min-width:1025px) {
            &:hover{
                color: $mc1;
                .picbox{
                    transform: translateY(-10px);
                }
            }
        }
    }
    .ch{
        margin-bottom: 5px;
    }
    @media screen and (max-width:1600px) {
        margin-top: 60px;
    }
    @media screen and (max-width:1366px) {
        margin-top: 50px;
        width: 696px;
        .picbox{
            width: 64px;
            margin-bottom: 15px;
        }
        a{
            font-size: 13px;
        }
        .ch{
            margin-bottom: 3px;
        }
    }
    @media screen and (max-width:481px) {
        .picbox{
            width: 44px;
        }
        a{
            font-size: 11px;
        }
    }
    @media screen and (max-width:481px) {
        margin-top: 40px;
    }
}

.loading-lang{
    li{
        margin: 0 2px;
        &:first-child{
            a{
                background: $mc1;
                color: #fff;
            }
        }
    }
    a{
        display: block;
        width: 114px;
        height: 30px;
        border: 1px solid $mc1;
        line-height: 28px;
        @media screen and (min-width:1025px) {
            &:hover{
                background: $fc3 !important;
                border-color: $fc3;
                color: #fff;
            }
        }
    }
    @media screen and (max-width:1366px) {
        a{
            width: 94px;
        }
    }
    @media screen and (max-width:481px) {
        a{
            font-size: 12px;
            width: 74px;
        }
    }
}

.skip-btn{
    position: absolute;
    right: 40px;
    bottom: 75px;
    transition: .6s;
    a{
        width: 92px;
        height: 30px;
        border: 1px solid $mc1;
        color: $mc1;
        text-align: center;
        line-height: 28px;
        display: block;
        @media screen and (min-width:1025px) {
            &:hover{
                background: $mc1;
                color: #fff;
            }
        }
    }
    &.hide{
        transform: translateX(100%);
        @include hide;
    }
    @media screen and (max-width:1600px) {
        bottom: 55px;
    }
    @media screen and (max-width:1024px) {
        right: 5%;
        bottom: auto;
        top: 5%;
    }
    @media screen and (max-width:481px) {
        a{
            width: 52px;
            height: 26px;
            line-height: 24px;
            font-size: 12px;
        }
    }
}

.load-wrap{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.wave-canvas-wrapper{
    height: 100%;
    background: #fff;
}