<div class="header clearfix">
    <a href="index.html" class="logo"><img src="images/logo.png"/></a>
    <ul class="nav">
        <li><a href="index.html" @@if (context.index==='act') { class="act" }>首页</a></li>
        <li><a href="about.html" @@if (context.about==='act') { class="act" }>关于皓源</a></li>
        <li><a href="news.html" @@if (context.news==='act') { class="act" }>皓源动态</a></li>
        <li><a href="pro.html" @@if (context.pro==='act') { class="act" }>产品中心</a></li>
        <li><a href="case.html" @@if (context.case==='act') { class="act" }>案例中心</a></li>
        <li><a href="ser.html" @@if (context.ser==='act') { class="act" }>服务中心</a></li>
        <li><a href="job.html" @@if (context.job==='act') { class="act" }>加入我们</a></li>
        <li><a href="cta.html" @@if (context.cta==='act') { class="act" }>联系我们</a></li>
    </ul>
    <div class="menu-handler">
        <span class="burger burger-1 mtrans"></span>
        <span class="burger burger-2 mtrans"></span>
        <span class="burger burger-3 mtrans"></span>
    </div>
</div>
<!-- header -->
<div class="menuBox">
    <dl class="navMobile">
        <dd><a href="index.html">首页</a></dd>
        <dd><a href="about.html">关于皓源</a>
            <div class="mtv">
                <a href="about.html?#ab1">公司简介</a>
                <a href="about.html?#ab2">荣誉资质</a>
                <a href="about.html?#ab3">发展历程</a>
                <a href="about.html?#ab4">合作联盟</a>
            </div>
        </dd>
        <dd><a href="news.html">皓源动态</a>
            <div class="mtv">
                <a href="news.html">经营动态</a>
                <a href="news.html">管理动态</a>
                <a href="news1.html">企业文化</a>
            </div>
        </dd>
        <dd><a href="pro.html">产品中心</a>
            <div class="mtv">
                <a href="pro.html">中央空调</a>
                <a href="pro.html">采暖系统</a>
                <a href="pro.html">新风系统</a>
                <a href="pro.html">净水系统</a>
            </div>
        </dd>
        <dd><a href="case.html">案例中心</a>
            <div class="mtv">
                <a href="case.html">高端住宅</a>
                <a href="case.html">酒店项目</a>
                <a href="case.html">商业地产</a>
            </div>
        </dd>
        <dd><a href="ser.html">服务中心</a>
            <div class="mtv">
                <a href="#">一键报修</a>
                <a href="#">进度查询</a>
                <a href="#">施工流程</a>
                <a href="ser.html">使用和保养</a>
            </div>
        </dd>
        <dd><a href="job.html">加入我们</a>
            <div class="mtv">
                <a href="job.html">校园招聘</a>
                <a href="job.html">社会招聘</a>
            </div>
        </dd>
        <dd><a href="cta.html">联系我们</a></dd>
    </dl>
    <br/><br/><br/><br/>
</div>
<!-- menuBox -->
<div class="menuBlack"></div>
<div class="mtop"></div>
