<div class="header">
    <div class="pw">
        <a href="index.html" class="logo"><img src="images/logo.png"/></a>
        <ul class="nav fib">
            <li class="ib"><a href="about.html" @@if (context.about==='act') { class="act" }>关于我们</a></li>
            <li class="ib"><a href="news.html" @@if (context.news==='act') { class="act" }>新闻资讯</a></li>
            <li class="ib pro"><a href="pro.html" @@if (context.pro==='act') { class="act" }>产品中心</a></li>
            <li class="ib"><a href="job.html" @@if (context.job==='act') { class="act" }>人才招聘</a></li>
            <li class="ib"><a href="cta.html" @@if (context.cta==='act') { class="act" }>联系我们</a></li>
        </ul>
        <a href="#" class="lang"><span class="icon iconfont iconduoyuyan"></span><span>English</span></a>
    </div>
    <div class="pull-nav">
        <div class="pw">
            <ul class="fib pro-nav-list">
                <li class="ib transX trans"><a href="pro.html" class="scapic">
                    <div class="pic"><img src="img/1.png" alt=""></div>
                    <p class="nowti">蒸发式加湿器</p>
                </a></li>
                <li class="ib transX trans"><a href="pro.html" class="scapic">
                    <div class="pic"><img src="img/2.png" alt=""></div>
                    <p class="nowti">空气净化器</p>
                </a></li>
                <li class="ib transX trans"><a href="pro.html" class="scapic">
                    <div class="pic"><img src="img/3.png" alt=""></div>
                    <p class="nowti">直流电风扇</p>
                </a></li>
            </ul>
        </div>
    </div>
    <div class="menuBtn"><div class="mb"><span class="ml ml-1"></span><span class="ml ml-2"></span></div></div>
</div>
<!-- header -->
<div class="menuBox">
    <dl class="navMobile">
        <dd><p><a href="index.html">首页</a></p></dd>
        <dd><p><a href="about.html">关于我们</a></p>
            <div class="mtnav">
                <a href="about.html?#ab1">公司简介</a>
                <a href="about.html?#ab2">发展历程</a>
                <a href="about.html?#ab3">质量认证</a>
                <a href="about.html?#ab4">核心能力</a>
            </div>
        </dd>
        <dd><p><a href="news.html">新闻资讯</a></p></dd>
        <dd><p><a href="pro.html">产品中心</a></p>
            <div class="mtnav">
                <a href="pro.html">蒸发式加湿器</a>
                <a href="pro.html">空气净化器</a>
                <a href="pro.html">直流电风扇</a>
            </div>
        </dd>
        <dd><p><a href="job.html">人才招聘</a></p></dd>
        <dd><p><a href="cta.html">联系我们</a></p></dd>
    </dl>
    <br/><br/><br/><br/>
</div>
<!-- menuBox -->
<div class="mtop"></div>
